@page "/citas/nueva"
@using Microsoft.EntityFrameworkCore
@using ProyectoFinal.Data
@using ProyectoFinal.Models
@inject ClinicaContext Contexto
@inject NavigationManager Navegacion

<h3> Agendar Nueva Cita</h3>

<div class="row">
    <div class="col-md-6">
        <EditForm Model="cita" OnValidSubmit="GuardarCita">
            <DataAnnotationsValidator />

            
            <div class="mb-3">
                <label>Paciente:</label>
                <InputSelect class="form-select" @bind-Value="cita.IdPaciente">
                    <option value="">-- Seleccione un Paciente --</option>
                    @foreach (var p in listaPacientes)
                    {
                        <option value="@p.IdPaciente">@p.Nombre @p.Apellido</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => cita.IdPaciente)" />
            </div>

           
            <div class="mb-3">
                <label>Dentista:</label>
                <InputSelect class="form-select" @bind-Value="cita.IdDentista">
                    <option value="">-- Seleccione un Dentista --</option>
                    @foreach (var d in listaDentistas)
                    {
                        <option value="@d.IdDentista">@d.Nombre @d.Apellido - @d.Especialidad</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => cita.IdDentista)" />
            </div>

            
            <div class="mb-3">
                <label>Fecha y Hora:</label>
                <InputDate Type="InputDateType.DateTimeLocal" class="form-control" @bind-Value="cita.FechaHora" />
                <ValidationMessage For="@(() => cita.FechaHora)" />
            </div>

            
            <div class="mb-3">
                <label>Motivo de Consulta:</label>
                <InputTextArea class="form-control" @bind-Value="cita.MotivoConsulta" />
                <ValidationMessage For="@(() => cita.MotivoConsulta)" />
            </div>

            <button type="submit" class="btn btn-primary">Confirmar Cita</button>
            <a href="/citas" class="btn btn-secondary">Cancelar</a>

        </EditForm>
    </div>
</div>

@code {
    private Cita cita = new Cita { FechaHora = DateTime.Now }; 

    
    private List<Paciente> listaPacientes = new List<Paciente>();
    private List<Dentista> listaDentistas = new List<Dentista>();

    protected override async Task OnInitializedAsync()
    {
        
        listaPacientes = await Contexto.Pacientes.ToListAsync();
        listaDentistas = await Contexto.Dentistas.ToListAsync();
    }

    private async Task GuardarCita()
    {
        Contexto.Citas.Add(cita);
        await Contexto.SaveChangesAsync();
        Navegacion.NavigateTo("/citas");
    }
}